/* .ql-container.ql-snow {
   border: none !important;
}
 */
.ql-snow .ql-tooltip {
   left: 0 !important;
   /* top:2rem !important; */
   z-index: 10;
}

.text-editor__editor {
   padding: 1.8rem 2.8rem !important;
}