.custom-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    /* Adjust spacing below the slider */
}

.custom-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: #007bff;
    /* Active dot color */
}