@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.layout-min-height {
    min-height: 94vh;
}

.hide-scrollbar {              /* scrolling enabled */
  -ms-overflow-style: none;    /* IE & Edge (legacy) */
  scrollbar-width: none;       /* Firefox */
}

/* Chrome, Safari, Edge (Chromium) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}